.selects-wrapper {
  display: flex;
  gap: 10px;
  height: calc(3.5rem + 2px);
}

.select-step,
.select-gates {
  position: relative;
  width: calc(50% - 5px);
}

.select-step-title,
.select-gates-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  height: 100%;
  cursor: pointer;
  white-space: nowrap;
}

.select-step-text,
.select-gates-text {
  transition: all 0.1s ease-in-out;
}

.select-step-text.selected {
  opacity: .65;
  transform: scale(.85) translateX(-0.6rem);
  line-height: 100%;
}

.select-gates-text.selected {
  opacity: .65;
  transform: scale(.85) translateX(-0.7rem);
  line-height: 100%;
}

.select-step-result,
.select-gates-result {
  padding-left: 0.1rem;
}

.select-step-list,
.select-gates-list {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding-top: 15px;  
  margin: -5px 0 0 0; 
  background-color: white;
  color: black;
  list-style: none;
  border-top: none;
  z-index: 1;
}

.select-step-list.active,
.select-gates-list.active {
  display: flex;
  outline: none;
}

.select-step-item,
.select-gates-item {
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.select-step-item:hover,
.select-gates-item:hover {
  background-color: #86b7fe;;
}

.select-step-toggle,
.select-gates-toggle {
  position: absolute;
  top: calc(50% - 5px);
  right: 5%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #212529;
  background-color: transparent;
}

@media (max-width: 425px) {
  .selects-wrapper {
    flex-direction: column;
    gap: 1rem;
    height: calc(8rem + 4px);
  }

  .select-step,
  .select-gates {
    width: 100%;
    height: calc(3.5rem + 2px);
  }

  .select-step {
    z-index: 1;
  }
}
